*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Android-StickyNavLayout-master.zip
.idea/
Demo/
app/
gradle.properties
gradle/
javalib/
/javalib/
projectFilesBackup/
testcustomview/
testdesignpattern/
testnestedscrollin/
testnestedscrollview/
testnestedviewwithlistview/
testsystemalarm/
